.card{
    transition: transform .3s;
}
.card:hover{
    box-shadow: 8px 8px 8px black;
    transform: scale(1.05);
}
thead{
    background-color: #eee;
}
tbody td{
    vertical-align: middle !important;
}
.cards {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.custom-file-upload {
    cursor: pointer;
}
input[type="file"] {
    display: none;
}